DATABASE_URL=postgresql+psycopg://user:password@localhost:5432/dbname

SECRET_KEY=
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

MINIO_ENDPOINT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET=irs
MINIO_PUBLIC_URL=