DATABASE_URL = "postgresql+psycopg2://postgres:postgres@localhost:5432/pedalboard"
SECRET_KEY=asdfasdf
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60


POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=pedalboard
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=xxxx
MINIO_ROOT_USER=xxxx
MINIO_SECRET_KEY=xxxx
MINIO_ROOT_PASSWORD=xxxx
MINIO_BUCKET=irs
MINIO_PUBLIC_URL=http://localhost:9000
minio_public_url=http://localhost:9000
FRONTEND_URL=http://localhost:5173
RESEND_API_KEY=re_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx